.Poster {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	background-image: url('../../assets/messages.svg');
	background-repeat: no-repeat;
	background-size: 55%;
	background-position: center;
	background-color: #efefef;
}
